.footer {
    width: 100%;
    background: #008197;
    padding: 0 15px;
    display: flex;
    align-items: center;
    height: 80px;
    border-bottom: 4px solid #FFF;
    z-index: 0;
    top: 0;
    overflow: hidden;
}
