<div class="home">
    <div class="content-container">
        <section class="form-section">
            <div class="reservation-form-container">
                <div class="reservation-header">
                    <h1>Make Goals!</h1>
                </div>
                <div class="reservation-form">
                       <div class="manage-row">
                            <div class="left-side bold">
                                Please create new goal or update existing goal:
                            </div>
                          <!--  <div class="right-side">
                                <button class="link change-view" (click)="viewOrEdit()">View Or Edit</button>
                            </div> -->
                        </div>
                        <div class="content-row"> 
                            <div class="form-field continue">
                                <button class="submit" (click)="submit()">View Goals</button>
                           </div>
                           <div class="form-field new">
                                <button class="submit" (click)="createNew()">Create New</button>
                            </div>

                        </div>
                        <div class="footer-row"></div>
                </div>
            </div>
        </section>
        <div class="main-background">
            <div class="background-img">
                <img src="../../assets/images/background.jpg"
                    alt="">
            </div>
        </div>
    </div>
</div>
